<div class="container">
	<div class="fullscreen-bg">
		<%= video_tag(["waterbnb.webm", "waterbnb.mp4"], class: "fullscreen-bg__video", poster: "home_videoframe.png", autoplay: true, loop: true )%>
	</div>
	<div style="text-align: center; margin-top: 100px;">
		<%= image_tag "Tinggal.png" %><br>
		<%= image_tag "google_play_icon.png", class: 'play-img' %>
	</div>
</div>