/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper {
  width:100%;
  height:100vh;
  overflow: hidden;
}

.wrapper video {
  /*object-fit: contain;*/
/*       object-fit: fill; */
  object-fit: cover;
  width:100%;
  height:100%;
}

.content {
  font-family: sans-serif;
  color:white;
  margin: 0;
  position: absolute;
  z-index: 2;
  left: 50%;
  transform:translateX(-50%);
  top: 70px;
  width: 500px;
  text-align: center;
  text-transform: uppercase;
  text-shadow:4px 4px 0 rgba(0,0,0,0.4);
  background-color: rgba(0,0,0,.6);
  border-radius: 10px;
  padding: 50px;
}

.logo {
	float: left;
	width: 150px;
}

.text {
	float: right;
	top: 0;
	text-align: left;
}

.play-img {
	width: 150px;
}